examples/Ecvida send.json
[
    {
        "id": "bede313ba516d526",
        "type": "ecvida-send",
        "z": "7b4e77223c4d1b88",
        "name": "",
        "login": "e2131b5efea640f5",
        "x": 590,
        "y": 540,
        "wires": [
            [
                "ab1416278b430347"
            ]
        ]
    },
    {
        "id": "16106f09dd57b374",
        "type": "inject",
        "z": "7b4e77223c4d1b88",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"46809282\":[37.2],\"190211525\":[86.4],\"997283518-0000002339521329164\":[665.3],\"112538-0000001133727873128\":[23572.2,11533.6],\"1015089966504\":[164.1]}",
        "payloadType": "json",
        "x": 340,
        "y": 540,
        "wires": [
            [
                "bede313ba516d526"
            ]
        ]
    },
    {
        "id": "ab1416278b430347",
        "type": "debug",
        "z": "7b4e77223c4d1b88",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 540,
        "wires": []
    },
    {
        "id": "e2131b5efea640f5",
        "type": "ecvida-login",
        "name": "",
        "uk": null,
        "username": null,
        "password": null,
        "token": null,
        "flatId": null,
        "debug": false
    }
]