examples/Ecvida send.json
[
    {
        "id": "4e3b76223229328f",
        "type": "inject",
        "z": "850a7f41f148bf55",
        "name": "Триггер",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 520,
        "wires": [
            [
                "b8a4a86e0c1b8ec4"
            ]
        ]
    },
    {
        "id": "e0e99c28964b261b",
        "type": "debug",
        "z": "850a7f41f148bf55",
        "name": "Log",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 520,
        "wires": []
    },
    {
        "id": "b8a4a86e0c1b8ec4",
        "type": "function",
        "z": "850a7f41f148bf55",
        "name": "Показания",
        "func": "msg.payload = {\n    \"46809282\": [\n        36.98\n    ], // ГВС Кухня\n    \"190211525\": [\n        86.4\n    ], // ГВС Ванная\n    \"997283518-0000002339521329164\": [\n        665.2\n    ], // ХВС Ванная\n    \"112538-0000001133727873128\": [\n        23571,\n        11532\n    ], //\n    \"1015089966504\": [\n        164.3\n    ] // ХВС Кухня\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 520,
        "wires": [
            [
                "ebb9d99513973b2c"
            ]
        ]
    },
    {
        "id": "ebb9d99513973b2c",
        "type": "ecvida-send",
        "z": "850a7f41f148bf55",
        "name": "",
        "login": "699fbe81095a69f0",
        "x": 650,
        "y": 520,
        "wires": [
            [
                "e0e99c28964b261b"
            ]
        ]
    },
    {
        "id": "699fbe81095a69f0",
        "type": "ecvida-login",
        "name": "Ecvida",
        "username": null,
        "password": null,
        "cookies": null,
        "debug": true
    }
]