examples/Ecvida get.json
[
    {
        "id": "1c8ec3391f122dfe",
        "type": "inject",
        "z": "850a7f41f148bf55",
        "name": "Update manual",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "9e645ec3ef580c51"
            ]
        ]
    },
    {
        "id": "9e645ec3ef580c51",
        "type": "ecvida-get",
        "z": "850a7f41f148bf55",
        "name": "",
        "login": "09a2e7431dce5224",
        "command_type": "balance",
        "calendar": "",
        "lastMonth": false,
        "x": 320,
        "y": 320,
        "wires": [
            [
                "2f216c988bb77b8f"
            ]
        ]
    },
    {
        "id": "2f216c988bb77b8f",
        "type": "debug",
        "z": "850a7f41f148bf55",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 320,
        "wires": []
    },
    {
        "id": "09a2e7431dce5224",
        "type": "ecvida-login",
        "name": "Эквида",
        "uk": "ecvida",
        "username": null,
        "password": "__PWRD__",
        "token": "__PWRD__",
        "flatId": null,
        "is_debug": false
    }
]