examples/Ecvida get.json
[
    {
        "id": "ba9904cac9d24df9",
        "type": "inject",
        "z": "7b4e77223c4d1b88",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 380,
        "wires": [
            [
                "82fca8f5b7e4fcdd"
            ]
        ]
    },
    {
        "id": "c66d07cfe7f7c494",
        "type": "debug",
        "z": "7b4e77223c4d1b88",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 380,
        "wires": []
    },
    {
        "id": "82fca8f5b7e4fcdd",
        "type": "ecvida-get",
        "z": "7b4e77223c4d1b88",
        "name": "",
        "login": "e2131b5efea640f5",
        "command_type": "payments",
        "calendar": "03.2022",
        "lastMonth": true,
        "x": 580,
        "y": 380,
        "wires": [
            [
                "c66d07cfe7f7c494"
            ]
        ]
    },
    {
        "id": "e2131b5efea640f5",
        "type": "ecvida-login",
        "name": "",
        "uk": null,
        "username": null,
        "password": null,
        "token": null,
        "flatId": null,
        "debug": false
    }
]